
:root{
   --mainPraimary: #018dff
 }

.iconPage{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   direction: rtl;
}

.iconPage:hover{
   background-color: var(--mainPraimary);
   border-radius: 30px;
   /* animation: mymove 1s alternate-reverse ; */
   /* transition: linear 2s; */
   cursor: pointer;
}


.iconlable{
   display: none;
   border-radius: 30px 0 0 30px;
   /* animation: mymove 1s linear ; */
   /* animation: mymove 2s cubic-bezier(.77,0,.175,1); */
   background-color: var(--mainPraimary);
   /* padding: 9px 35px; */
   margin-right: -20px;
   padding: 9px 35px;

}




.iconPage:hover  .iconlable{
   display: flex !important;
   /* padding: 9px 35px; */
   animation: mymove .5s ;
   animation-delay: -.3s;

   transition: all .5s;
}

.iconPage:hover  .iconIcon{
   background-color: var(--mainPraimary);
}


.iconlable:hover{
   display: flex !important;

}




.iconIcon{
   width: 50px !important;
   height: 50px;
   border-radius: 50%;
   line-height: 3;
   text-align: center;
   z-index: 3;

   background-color: #2b2a2a;
   cursor: pointer;
}







@keyframes mymove {
   from {
      width: 0%;
      /* padding: 0px 0px; */
      background-color: #111;
      color: #111;
      visibility:hidden;
   }
   to {
      /* width: 125px; */
      padding: 9px 35px;
      background-color: var(--mainPraimary);
      color: white;
      visibility: visible;
   }
}

/* @keyframes mymove {
   from {height: 0%;}
   to {height: 100%;}
} */



.pageActive{
   background-color: var(--mainPraimary);
   /* transform: scale(1.1); */
}